* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100%;

    background-color: rgb(211, 201, 201);
}

.secondary_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;

    translate: 0px -50%;

    background-color: rgb(231, 229, 229);
    border-radius: 15px;
    border: 2px solid #000;

    padding: 10px;
}

.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(219, 82, 58);
    border-radius: 15px;

    height: 30%;
    width: 55%;
}

.logo_container h1 {
    font-family: 'Itim', cursive;
    font-size: 50px;


}

.main_content {
    margin: 25px;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
}

.showfood {
    background-color: rgb(180, 176, 176);
    border-radius: 15px;

    padding: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.showfood img {
    border-radius: 180px;

    width: 80px;
    height: 80px;

    margin-right: 10px;
}

.showfood p {
    margin-right: 10px;

    font-family: 'Itim', cursive;;
    font-size: 20px;
    font-weight: 500;
}

.confirm_btn {
    align-self: self-end;
}

.confirm_btn button {
    width: 180px;
    height: 40px;

    font-size: 18px;
    font-weight: 800;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-color: rgb(54, 167, 54);
    border: 1.5px solid #000;
    border-radius: 10px;
    cursor: pointer;
}