body{
  margin: 0;
  font-family: Poppins;
}
.container{
  width: 900px;
  margin: auto;
  max-width: 90vw;
  text-align: center;
  padding-top: 10px;
  transition: transform .5s;
}
svg{
  width: 30px;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.icon-cart{
  position: relative;
}
.icon-cart span{
  position: absolute;
  background-color: red;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  top: 50%;
  right: -20px;
}
.title{
  font-size: xx-large;
  
}
.listProduct .item1 img{
  width: 95%;
  height: 50%;
}
.listProduct{
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.listProduct .item1{
  background-color: #EEEEE6;
  padding: 20px;
  border-radius: 20px;
}
.listProduct .item1 h2{
  font-weight: 500;
  font-size: large;
}
.listProduct .item1 .price{
  letter-spacing: 5px;
  font-size: large;
}
.listProduct .item1 button{
  background-color: #353432;
  color: #eee;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 10px;
}

@media only screen and (max-width: 868px) {
  .container {
      width: 90%;
  }
}

/* cart */
.cartTab{
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: .5s;
}
body.showCart .cartTab{
  right: 0;
}
body.showCart .container{
  transform: translateX(-250px);
}
.cartTab h1{
  padding: 20px;
  margin: 0;
  font-weight: 300;
}
.cartTab .btn{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
  background-color: #E8BC0E;
  border: none;
  font-family: Poppins;
  font-weight: 500;
  cursor: pointer;
}
.cartTab .close{
  background-color: #eee;
}
.listCart .item img{
  width: 100%;
}
.listCart .item{
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}
.listCart .quantity span{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border-radius: 50%;
  color: #555;
  cursor: pointer;
}
.listCart .quantity span:nth-child(2){
  background-color: transparent;
  color: #eee;
  cursor: auto;
}
.listCart .item:nth-child(even){
  background-color: #eee1;
}
.listCart{
  overflow: auto;
}
.listCart::-webkit-scrollbar{
  width: 0;
}
@media only screen and (max-width: 992px) {
  .listProduct{
      grid-template-columns: repeat(3, 1fr);
  }
}


/* mobile */
@media only screen and (max-width: 768px) {
  .listProduct{
      grid-template-columns: repeat(2, 1fr);
  }
}


/* Add a black background color to the top navigation */
.navbar {
  background-color: #333;
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 15px;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.item1 {
  /* Your existing styles for .item */
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.item1.pop-up {
  opacity: 1;
  transform: translateY(0);
}





.table-selection-label {
  margin-right: 8px;
  font-size: 25px;
}

.table-selection-select {
  margin-right: 8px;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  padding: 2px 5px;
}

.clearLocal {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 7px 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
 
 
}

table, tr, td {
  border: solid 1px black;
}
